table {
    color: white;
    width: 1000px;
    height: 500px;
    padding: 20px;
    border-collapse: collapse;
        
}

th {
    text-align: start;
    
}
td,th {
    border-bottom: 1px solid white;
    
    /* text-align: left; */
    /* margin-left: 50px; */
}
